* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Courier New';
    margin: 0;
    overflow: auto;
    width: 100vw;
    height: 100vh;
}

header {
    padding: 20%;
    text-align: center;
    color: black;            
    -webkit-text-stroke: 1px white;
    font-size: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.topnav {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: gray;
    font-size: 2vw;
    border-radius: 5px;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
    background-color: grey;
    color: white;
}

.topnav a.active {
    background-color: black;
    color: white;
    border-radius: 3px 3px 0 0;
}

footer {
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.button {
    background-color: black;
    color: white;
    border: 2px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    border: 2px solid white;
}
.buttonG:hover {
    background-color: gray;
}
.button1:hover {
    background-color: #f70088ff;
}
.button2:hover {
    background-color: #29903B;
}
.button3:hover {
    background-color: #0A66C2;
}
.button4:hover {
    background-color: #FFA116;
}

@media (max-width: 600px) {
    .topnav {
        flex-direction: column;
    }
    .topnav a {
        text-align: left;
        padding: 12px;
        font-size: 16px;
    }
    
    footer {
        flex-direction: column;
    }

    .button {
        font-size: 1rem;
        padding: 12px;
    }
}