* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Courier New';
    margin: 0;
    overflow: auto;
    width: 100vw;
    height: 100vh;
}

header {
    padding: 20%;
    text-align: center;
    color: black;            
    -webkit-text-stroke: 1px white;
    font-size: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 5vw;
}
h2 {
    font-size: 4vw;
}
h3 {
    font-size: 3vw;
}
p {
    font-size: 2vw;
}

.topnav {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: gray;
    font-size: 2vw;
}

.topnav a {
    color: black;
    width: 25%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2vw;
    color: white;
    transition-duration: 0.3s;
}

.topnav a:hover {
    background-color: black;
}

.topnav a.active {
    background-color: black;
}

.intro {
    padding: 5%; 
}

section {
    text-align: center;
    color: white;
}
.image-text-split {
    display: flex;
    align-items: center;
    margin: 20px;
    overflow: hidden;
}
.image-text-under {
    overflow: hidden;
    margin: 20px;
}
.image-text-split .image-container {
    width: 75%;
}
.image-text-split img, .image-text-under img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.image-text-split img:hover, .image-text-under img:hover {
    opacity: 0.8;
}
.image-text-split .text-container {
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
}
.image-text-split .text-container {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.button {
    background-color: black;
    color: white;
    border: 2px;
    padding: 0.6vw 2vw;
    margin: 5px;
    font-size: 1vw;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition-duration: 0.3s;
    border: 0.2vw solid white;
    text-decoration: none;
}
.buttonG:hover {
    background-color: gray;
}
.button1:hover {
    background-color: #f70088ff;
}
.button2:hover {
    background-color: #29903B;
}
.button3:hover {
    background-color: #0A66C2;
}
.button4:hover {
    background-color: #FFA116;
}

footer {
    padding: 5vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media (max-width: 600px) {
    .topnav {
        flex-direction: column;
    }
    .topnav a {
        width: 100%;
        text-align: left;
        padding: 12px;
        font-size: 16px;
    }

    .image-text-split {
        flex-direction: column;
    }
    .image-text-split .image-container, 
    .image-text-split .text-container {
        width: 100%;
    }
    .image-text-split .text-container {
        text-align: center;
    }

    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .button {
        font-size: 1rem;
        padding: 12px;
    }

    footer {
        flex-direction: column;
    }    
}
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}