#upButton {
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: 0.1em;
    display: none;
    position: fixed;
    bottom: 4vw;
    right: 2vw;
    z-index: 99;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 0.6vw 1vw;
    border: none;
    border-radius: 10vw;
    font-family: 'Courier New';
    transform: rotate(270deg);
}

#upButton:hover {
    color: black;
}

@media (max-width: 600px) {
    #upButton {
        bottom: 12vw;
        font-size: 10vw;
    } 
}